
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    margin-top: 1.5vw;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f9f6ef;
    /* overflow-x: hidden; fix it later */
}

.gray { color: #7c7c7c; }

.highlight1 {
    background-image: url('images/highlights/highlight1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 32px;
    padding: 0 -5px;
    position: relative;
    z-index: 1;
}

.highlight2 {
    background-image: url('images/highlights/highlight2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 32px;
    padding: 0 0px;
    position: relative;
    z-index: 1;
}

.highlight3 {
    background-image: url('images/highlights/highlight3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 32px;
    padding: 0 0px;
    position: relative;
    z-index: 1;
}

/* .highlight4 {
    background-image: url('images/highlights/highlight4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 27px;
    padding: 0 0px;
    position: relative;
    z-index: 1;
} */


/* Header */
.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* wrapper to hold title and navigation */
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 375px; /* space between the title and navigation */
}

.title {
    margin: 0;
    font-size: 23px;
    font-weight: 500;
}

.header-profile-image {
    display: none; /* hidden by default */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #7c7c7c;
}

/* Main */
.main-content {
    padding: 20px 20px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.profile-image {
    max-width: 160px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -20px;
    margin-left: 50px;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
    box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
}

.intro-text {
    max-width: 320px;
}

.intro-text h2 {
    margin-top: 0;
    margin-left: 0px;
    font-size: 28px;
    font-weight: 500;
}

.scroll-button {
    position: absolute;
    top: -20%;
    background-color: transparent;
    color: rgb(177, 138, 255, 0.6);
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
}

.left-button {
    left: calc(50% + 218px);
}

.right-button {
    left: calc(50% + 250px);
}

.scroll-button:hover {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: transparent;
    color: rgba(76, 68, 96, 0.7);
}

/* Cards */
.rs-cards-shelf {
    max-width: 100%;
    margin-top: -30px; /* Brings it up */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.as-l-container.rs-cards-shelf-header {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rs-cards-shelf-mainheader {
    padding-left: 0;
    padding-bottom: 4px;
    text-align: left;
    margin-right: 310px;
    font-size: 23px;
    font-weight: 500;
}

.as-l-container {
    margin-bottom: -25px;
}


.rf-cards-scroller {
    position: relative;
    width: 100%;
}

.rf-cards-scroller-crop {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 5px 0; /* vertical padding for hover effect */
    width: 100%;
    display: flex;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rf-cards-scroller-crop::-webkit-scrollbar {
    display: none;
}

.rf-cards-scroller-content {
    display: flex;
    gap: 5px;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-shrink: 0;
    margin-top: 3px;
    padding-left: calc(50% - 290px);
    padding-right: 15px;
}

.rf-cards-scroller-itemview {
    flex: 0 0 auto;
    width: 320px;
    max-width: 320px;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 10px;
    padding-bottom: 25px;
}

.rf-cards-scroller-itemview:hover {
    transform: scale(1.02);
}

.rf-ccard-img-full-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    -webkit-appearance: none;
    -webkit-box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
    box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
}

/* Text overlay */
.rf-ccard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: transparent;
    padding: 21px;
    font-size: 20px;
    text-align: left;
}

.rf-ccard-overlay span {
    display: block;
    margin-bottom: 5px;
}

.rf-ccard-overlay .first-txt {
    font-size: 24px;
    margin-bottom: -24px;
    display: block;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

.rf-ccard-overlay .second-txt {
    font-size: 17px;
    display: block;
    -webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card-footer {
    font-size: 16px;
    color: #7c7c7c;
    padding: 5px 5px;
    text-align: left;
    background: transparent;
}

/* Optional: Smooth scroll for trackpad swipe */
.rf-cards-scroller-crop {
    scroll-behavior: smooth;
}

/* Hide scrollbar */
.scrollable-element::-webkit-scrollbar {
    display: none;
}

.scrollable-element {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Modal Overlay Styles */
/* Added styles for the modal overlay and its content */
.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10; /* Ensure it sits on top */
    left: 0;
    top: 0;
    height: 100%; /* Set to viewport height so users can scroll */
    width: 100%;
    overflow-y: auto; /* Enable scroll if needed */
    backdrop-filter: blur(5px); /* Adds the blur effect */
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

.modal-active {
    background-color: rgb(200, 200, 200);
}

/* Modal Content */
.modal-content {
    background-color: rgb(249, 246, 239, 0.85);
    margin: 12vh auto; /* Center the modal */
    padding: 20px;
    border-radius: 14px;
    width: 90%;
    max-width: 700px;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
    box-shadow: 2px 2px 12px rgba(11, 11, 11, 0.2);
}

/* Close Button */
.modal-close {
    color: #7c7c7c;
    position: absolute;
    top: 0px;
    right: 22px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.modal-close:hover,
.modal-close:focus {
    color: #000000;
}

/* Modal Body Content */
.modal-body {
    margin-top: 35px;
    margin-bottom: -15px;
}

/* .modal-body h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
} */

/* .modal-body h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
} */

.modal-body p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: -20px;
    color: #7c7c7c;
}

.modal-body img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 14px;
}

/* Slider Styles */
/* Added styles for the slider within the modal */
.slider {
    position: relative;
    max-width: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}

/* Slides */
.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 14px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    border-radius: 50%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    color: #7c7c7c;
    font-weight: bold;
    font-size: 24px;
    transition: 0.2s;
    user-select: none;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.next {
    right: 0;
    border-radius: 50%;
}

.prev:hover, .next:hover {
    background-color: transparent;
    color: #000000;
}

/* Footer */
.site-footer {
    background-color: inherit; /* Matches the body background color */
    padding: 40px 0;
    text-align: center; /* Center the content */
}

.site-footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    color: #7c7c7c;
}

.site-footer p {
    margin: 0;
    font-size: 16px;
}

@media screen and (max-width: 1025px) {
    /* .scroll-button {
        display: none;
    } */

    .scroll-button {
        pointer-events: none;
        -webkit-touch-callout: none;
    }
}

@media screen and (max-width: 650px) {
    /* .highlight4 {
        background-position: center 23px;
    } */

    .highlight1, .highlight2, .highlight3  {
        background-position: center 30px;
    }

    .content-wrapper {
        gap: 190px;
    }
    .title {
        display: none;
    }
    .header-profile-image {
        display: block;
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    }
    .profile-image {
        display: none;
    }
    .intro-section {
        justify-content: center;
    }
    .intro-text h2 {
        margin-left: 105px;
        margin-top: -5px;
        font-size: 26px;
    }

    .intro-text {
        max-width: 100%;
    }
    .nav {
        margin-left: auto;
    }

    .rs-cards-shelf {
        margin-top: -45px;
    }

    .rf-cards-scroller-itemview {
        width: 280px;
    }
    .rf-ccard-overlay .first-txt {
        font-size: 22px;
    }
    .rf-ccard-overlay .second-txt {
        font-size: 16px;
        display: block;
    }
    .card-footer {
        font-size: 14px;
    }

    .rs-cards-shelf-mainheader {
        margin-right: 140px;
        font-size: 20px;
        flex-wrap: nowrap;
    }

    body, html {
        margin-top: 1.5vw;
    }

    .scroll-button {
        top: -20%;
        cursor: default;
    }
    .left-button {
        left: calc(50% + 113px);
    }
    .right-button {
        left: calc(50% + 145px);
    }

    .rf-cards-scroller-content {
        display: flex;
        gap: 5px;
        align-items: stretch;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-shrink: 0;
        margin-top: 3px;
        padding-left: calc(50% - 190px);
    }
    .modal-body p {
        font-size: 16px;
    }
    .site-footer {
        padding: 17px 0;
    }
    .modal-content {
        margin-top: 130px;
    }
}

@media screen and (max-width: 400px) {
    /* Prevent flex containers from wrapping */
    .content-wrapper,
    .intro-section,
    .rf-cards-scroller-content {
        flex-wrap: nowrap;
    }

    .intro-text h2,
    .rs-cards-shelf-mainheader,
    .site-footer p {
        white-space: nowrap;
    }

    body, html {
        overflow-x: auto;
    }

    .rf-cards-scroller-crop {
        overflow-x: auto;
    }
}